@tailwind base;
@tailwind components;
@tailwind utilities;

.transparent{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0,0,10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
}

.inputFild{
    background: transparent;
}


.font1{
    font-family: 'Zen Tokyo Zoo', cursive;
}
.font2{
    font-family: 'Inter', cursive;
}
.font3{
    font-family: 'Cinzel', cursive;
}
.font4{
    font-family: 'Anton', cursive;
}