@tailwind base;
@tailwind components;
@tailwind utilities;

.transparent{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0,0,10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
}

.inputFild{
    background: transparent;
}

.memberShip{
    background-image: url('https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2019/08/07/Pictures/_ec38addc-b906-11e9-a203-e6c4ad816de5.jpg');
    background-size: cover;
}

.font1{
    font-family: 'Zen Tokyo Zoo', cursive;
}
.font2{
    font-family: 'Inter', cursive;
}
.font3{
    font-family: 'Cinzel', cursive;
}
.font4{
    font-family: 'Anton', cursive;
}